# Application
PORT=3000

# Database
# Pour un run hors Docker (ex: npm run start:dev), on utilise localhost
DATABASE_URL=postgresql://liyanza_user:liyanza_password@localhost:5432/liyanza_db

# Redis
# Pour un run hors Docker (ex: npm run start:dev), on utilise localhost
REDIS_URL=redis://localhost:6379

# Security
JWT_SECRET=your_jwt_secret_key_here_change_in_production